__pycache__/
*.pyc
*.log
.env
.DS_Store
*.sqlite3

no_noise/
*.bin
*.vtk
*.sh

m_mode/

analysis_apoptosis/*
*.png
*.h5

analysis_apoptosis/

l_f_3330.0_l_phi_0.0001333_lr_phi_960.0_l1_sig_1.0_l2_sig_1.5_lr_sig_0.28_k2_8.0_20260922_162224/

test/

